<div style="background:#E9FFF6; color:#440404; padding:8px; border-radius: 4px; text-align: center; font-weight: 500;">IFN619 - Data Analytics for Strategic Decision Makers (2024 Sem 1)</div>

# IFN619 :: B1-DataStructures

### Why consider structure in data?

Structure in data helps us make meaning from that data and to be consistent and precise in using it.

When data is structured, then we can program computational systems to compute using that data as long as the data adheres to the defined structure.

### Structured data

For example, the idea of a spreadsheet allows us to make infer relationships between the cells based on rows and columns. This was possible with even the very first spreadsheets.

<a title="By User:Gortu (apple2history.org) [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3AVisicalc.png"><img width="512" alt="Visicalc" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Visicalc.png"/></a>

*By User:Gortu (apple2history.org) \[Public domain\], via Wikimedia Commons*

Even in this very simple example, we can make sense of this data, and because of the structure, the computer can work with the data, like calculating the costs for each row, calculating a subtotal, the tax, and the total. If the data in this spreadsheet was unstructured (for example written on a piece of paper), the computer would not be able to work with it.

Most structured data today is found in relational datatabase management systems (RDBMS), or commonly just refered to as databases. The structure is one of tables (like a spreadsheet) and relationships between them, but relating particular fields or columns in one table with those in another.

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/14804582@N08/2111269218" title="database schema"><img src="https://farm3.staticflickr.com/2129/2111269218_950cf23a03_b.jpg" width="1024" height="953" alt="database schema"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

But these are not the only kinds of data structuring. Structured data is basically when the organisation of the data is pre-defined so that certain data is associated with certain labels.

<p><a href="https://commons.wikimedia.org/wiki/File:Database_models.jpg#/media/File:Database_models.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Database_models.jpg/1200px-Database_models.jpg" alt="Database models.jpg"></a><br>By <a href="//commons.wikimedia.org/wiki/User:Mdd" title="User:Mdd">Marcel Douwe Dekker</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=5679857">Link</a></p>

### Working with structured data

We will work with structured data by mostly reading it from a file into a dataframe. One of the most common files for holding structured tabular data is the comma separated value (CSV) file. A spreadsheet table or a database table can be saved as a CSV file, which we can then import into a pandas dataframe. If you'd like more information on Pandas, try the [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/version/2.1/user_guide/10min.html) tutorial.

For the following example, we're going to use open data from [data.gov.au](https://data.gov.au) for [2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species](https://data.gov.au/data/dataset/2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species). If you're interested, you can read about the data in [Terrestrial plant and animal species: Mammals](https://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19)

Previously, we have read data into pandas from a file. But pandas also allows us to load data from a URL. Before completing the code below, take a look at the data by opening the URL in your browser. Take a note of which column might be appropriate for the index of the dataframe.

[https://data.gov.au/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv](https://data.gov.au/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv)

#### Reading data from a URL

In [1]:
# To use pandas, we need to import it (normally as 'pd')
import pandas as pd

# We can then open a CSV file into a new dataframe
extinct_mammals_url = "https://data.gov.au/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv"
exmam_df = pd.read_csv(extinct_mammals_url,index_col="Decade")

# view the dataframe
exmam_df

        Cumulative number of extinct mammal species
Decade
1790                                              0
1800                                              0
1810                                              0
1820                                              0
1830                                              0
1840                                              1
1850                                              3
1860                                              5
1870                                              7
1880                                              8
1890                                              9
1900                                             14
1910                                             14
1920                                             15
1930                                             18
1940                                             18
1950                                             22
1960                                             24
1970                                             25
1980                                             25
1990                                             25
2000                                             26
2010                                             27

### Saving (writing) data to a file

Pandas allows us to write a dataframe to a local file with the function `to_csv()`. This can be used in a way that is similar to reading a CSV into a dataframe.

In [2]:
# We can save our dataframe to use later
file_name = "extinct_aus_mammals.csv"
path = "data"
exmam_df.to_csv(f"{path}/{file_name}")

In [3]:
# The saved version can be loaded in the same way as the original URL
# We have already declared the path and file_name variables in the previous string

exmam_file_df = pd.read_csv(f"{path}/{file_name}", index_col="Decade")
exmam_file_df

        Cumulative number of extinct mammal species
Decade
1790                                              0
1800                                              0
1810                                              0
1820                                              0
1830                                              0
1840                                              1
1850                                              3
1860                                              5
1870                                              7
1880                                              8
1890                                              9
1900                                             14
1910                                             14
1920                                             15
1930                                             18
1940                                             18
1950                                             22
1960                                             24
1970                                             25
1980                                             25
1990                                             25
2000                                             26
2010                                             27

#### Reading and writing different formats

We can also read and write structured data formats different to CSV. Excel is a common spreadsheet format for structured data. Jupyter allows us to read and write excel files with the functions `read_excel()` and `to_excel()`.

Try writing the data above to excel format and then downloading it to your local computer and opening it with Excel. You might also try reading in an excel file that you upload from your local computer.

What other formats does pandas *read* and *write*? (TIP: Type `pandas.to` and then the `tab` key to bring up a menu of suggestions.)

In [4]:
# Make sure the file extension .xlsx matches the save format
# The old excel format of .xls does not work with the current version of pandas!

excel_file = "extinct_aus_mammals.xlsx" # <---- note .xlsx
exmam_file_df.to_excel(f"{path}/{excel_file}")

To avoid writing the (new) index to the excel file, use the option: `index=False`

In [5]:
exmam_file_df.to_excel(f"{path}/{excel_file}",index=False)

In [7]:
exmam_excel_df = pd.read_excel(f"{path}/{excel_file}")
exmam_excel_df

    Cumulative number of extinct mammal species
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0
5                                             1
6                                             3
7                                             5
8                                             7
9                                             8
10                                            9
11                                           14
12                                           14
13                                           15
14                                           18
15                                           18
16                                           22
17                                           24
18                                           25
19                                           25
20                                           25
21                                           26
22                                           27

### Unstructured data

Humans can make meaning from data without necessarily having pre-defined structure. In fact we frequently use very ill-defined structures to organise and communicate our thinking. We are also adept at creating these kinds of structures as required, in the moment, rather than requiring the data be structured before we can make sense of it.

<p><a href="https://commons.wikimedia.org/wiki/File:Coggle_Document.png#/media/File:Coggle_Document.png"><img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Coggle_Document.png" alt="Coggle Document.png"></a><br>By <a href="https://en.wikipedia.org/wiki/User:Lurched95" class="extiw" title="en:User:Lurched95">User:Lurched95</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=33923406">Link</a></p>

Computers are not so adept, so complex in the moment sense-making tasks on unstructured data are often easy for humans but very challenging for computers.

<img src="https://static.boredpanda.com/blog/wp-content/uploads/2016/03/dog-food-comparison-bagel-muffin-lookalike-teenybiscuit-karen-zack-5__700.jpg">

[Puppies or Food (boredpanda.com March 2016)](https://www.boredpanda.com/dog-food-comparison-bagel-muffin-lookalike-teenybiscuit-karen-zack/)

### Kinds of structuring of data

In order for us to perform data analysis on unstructured data, we will usually need to do some structuring of it, and this frequently results in semi-structured data. 

The 3 different kinds of structuring can be summarised as:

* **Structured** $\Rightarrow$ when the structure is pre-defined
* **Structured** $\Rightarrow$ is almost synonymous with 'stored in a RDMS', but can also exist in other software
* **Unstructured** $\leadsto$ when there is no pre-defined structure, or can't easily be conformed to a structure
* **Unstructured** $\leadsto$ commonly raw text, but also images, video, audio
* **Unstructured** $\leadsto$ can appear to have some kind of structure, but often that appearence is derived from our understanding, not from the data itself
* **Semi-structured** $\rightarrow$ the data can be stored in defined structure, but the actual instance of the structure is not predefined

### Semi-structured data

Semi-structured data is a lot more prevalent than structured data, but the computational tools are not as mature as structured data tools. Most semi-structured data tools have come about with the advent of the internet and then social media.

### Working with semi-structured data

We will work with semi-structured data mostly by:
1. creating it from plain text which is read from a file, or
2. importing the data from a `JSON` file.

*JSON* is a way of labelling data, but without requiring all data to be the same or without requiring the structure to be fixed in advance.

#### Reading plain text files

In [12]:
# Read in a plain text file
with open(f"{path}/{file_name}", 'r') as fp:
    exmam_text = fp.read()

# Print the string that was read from the file
print(exmam_text)

Decade,Cumulative number of extinct mammal species
1790,0
1800,0
1810,0
1820,0
1830,0
1840,1
1850,3
1860,5
1870,7
1880,8
1890,9
1900,14
1910,14
1920,15
1930,18
1940,18
1950,22
1960,24
1970,25
1980,25
1990,25
2000,26
2010,27

In [18]:
# What does the actual string look like (not formatted)
exmam_text

'Decade,Cumulative number of extinct mammal species\n1790,0\n1800,0\n1810,0\n1820,0\n1830,0\n1840,1\n1850,3\n1860,5\n1870,7\n1880,8\n1890,9\n1900,14\n1910,14\n1920,15\n1930,18\n1940,18\n1950,22\n1960,24\n1970,25\n1980,25\n1990,25\n2000,26\n2010,27\n'

In [21]:
# We can read the text in a semi-structured format by taking advantage of the lines in the file
with open(f"{path}/{file_name}", 'r') as fp:
    exmam_lines = fp.readlines()

print(exmam_lines)

['Decade,Cumulative number of extinct mammal species\n', '1790,0\n', '1800,0\n', '1810,0\n', '1820,0\n', '1830,0\n', '1840,1\n', '1850,3\n', '1860,5\n', '1870,7\n', '1880,8\n', '1890,9\n', '1900,14\n', '1910,14\n', '1920,15\n', '1930,18\n', '1940,18\n', '1950,22\n', '1960,24\n', '1970,25\n', '1980,25\n', '1990,25\n', '2000,26\n', '2010,27\n']

In [22]:
# Show the list that was read from the file
exmam_lines

['Decade,Cumulative number of extinct mammal species\n',
 '1790,0\n',
 '1800,0\n',
 '1810,0\n',
 '1820,0\n',
 '1830,0\n',
 '1840,1\n',
 '1850,3\n',
 '1860,5\n',
 '1870,7\n',
 '1880,8\n',
 '1890,9\n',
 '1900,14\n',
 '1910,14\n',
 '1920,15\n',
 '1930,18\n',
 '1940,18\n',
 '1950,22\n',
 '1960,24\n',
 '1970,25\n',
 '1980,25\n',
 '1990,25\n',
 '2000,26\n',
 '2010,27\n']

In each of these examples, notice that we have `\n` newline characters in the data. This is because Python is keeping all of the data from the original file including the characters that specify the end of a line of text.

A way to import the data *without* this character is to split the lines using the string `.split()` function after reading in the text as a single string.

In [28]:
# We can also create the list, by splitting the original string
lines = exmam_text.split('\n')

# view the list
lines[0].split(',')[1].split(' ')[-1]

'species'

Now each line of the file is an element in the list and the `\n` characters have been removed. 

However, because each line includes 2 data points, we can split each line. This creates a list of lists which gives us a structure similar to a dataframe.

In [29]:
# We can also create the list, by splitting the original string
lines = exmam_text.split('\n')

# view the list
for line in lines:
    data_points = line.split(',')
    print(data_points)

['Decade', 'Cumulative number of extinct mammal species']
['1790', '0']
['1800', '0']
['1810', '0']
['1820', '0']
['1830', '0']
['1840', '1']
['1850', '3']
['1860', '5']
['1870', '7']
['1880', '8']
['1890', '9']
['1900', '14']
['1910', '14']
['1920', '15']
['1930', '18']
['1940', '18']
['1950', '22']
['1960', '24']
['1970', '25']
['1980', '25']
['1990', '25']
['2000', '26']
['2010', '27']
['']

Notice that the data is not `clean`. Think about ways that we might be able to fix this.

#### Reading JSON

JSON is a very common file format for semi-structured data. To read this format we open the file as before, but we use the `json` library to help load the data into a Python dictionary or `dict` structure.

In [30]:
# We need the JSON library
import json

In [31]:
# Read a JSON file like text, but with conversion to python dictionary
json_file_name = "simple_json_file.json"
path = "data"

with open(f"{path}/{json_file_name}", 'r') as fp:
    json_data = json.load(fp)

# print the loaded data
print(json_data)

{'Key 1': 'The first value that goes with Key 1', 'Second key': 'Json data that goes with the second key', '3rd_key': ['This', 'is', 'a', 'json', 'list', 'and', 'value', 'for', '3rd key']}

In [32]:
# View the json data
json_data

{'Key 1': 'The first value that goes with Key 1',
 'Second key': 'Json data that goes with the second key',
 '3rd_key': ['This',
  'is',
  'a',
  'json',
  'list',
  'and',
  'value',
  'for',
  '3rd key']}

In [33]:
name = dict()

In [34]:
name['first'] = 'Andrew'

In [36]:
name['first']

'Andrew'

The advantage of a `dict` in python is that you can access a `value` by calling its `key`. These are called *key-value pairs* and are fundamental to a dictionary structure.

In [37]:
# Access values in the dict by calling the keys
json_data['Key 1']

'The first value that goes with Key 1'

In [38]:
# Get a list of keys for a dict
json_data.keys()

dict_keys(['Key 1', 'Second key', '3rd_key'])

In [39]:
# Iterate over the keys in a dict

for key in json_data.keys():
    print("key:",key)
    value = json_data[key]
    print("value:",value)
    print()

key: Key 1
value: The first value that goes with Key 1

key: Second key
value: Json data that goes with the second key

key: 3rd_key
value: ['This', 'is', 'a', 'json', 'list', 'and', 'value', 'for', '3rd key']

JSON data can include dictionary structures and list structures and they can be nested. To see this, in action we can load json data from a URL. 

To get data from a URL we use the `requests` library. This works like your web browser by sending `get` *request* to a web server, and then processing the response (instead of rendering in a browser).

In [40]:
# You can also load json data from a URL
import requests

# JSON data about the CSV on extinct mammals from the same website above
mammal_url = "https://data.gov.au/api/3/action/package_show?id=c02731e8-5327-4720-bbc7-1fe67350a569"

# Request the content from the web server with a .get() request
response = requests.get(mammal_url)

response.content

b'{"help": "https://data.gov.au/data/api/3/action/help_show?name=package_show", "success": true, "result": {"author": "CSIRO Publishing", "author_email": null, "contact_info": false, "contact_point": "soe@environment.gov.au", "creator_user_id": "dd537e79-7dfd-4a78-9110-8a42785bad1a", "data_state": "active", "field_of_research": [], "geospatial_topic": [], "id": "c02731e8-5327-4720-bbc7-1fe67350a569", "isopen": true, "jurisdiction": "Commonwealth of Australia", "language": "English", "license_id": "cc-by-4.0", "license_title": "Creative Commons Attribution 4.0 International", "license_url": "http://creativecommons.org/licenses/by/4.0", "maintainer": "soe", "maintainer_email": null, "metadata_created": "2016-10-13T05:31:05.905629", "metadata_modified": "2023-08-09T05:00:12.302898", "name": "2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species", "notes": "Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\\r\\n\\r\\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \\r\\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\\r\\n", "num_resources": 1, "num_tags": 10, "organization": {"id": "c416b1b6-1ea1-47c3-b44a-b4586bee6e58", "name": "state-of-the-environment", "title": "State of the Environment", "type": "organization", "description": "", "image_url": "2017-01-25-001455.510982SOE2016LogoColour.png", "created": "2016-01-21T17:05:45.618925", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "c416b1b6-1ea1-47c3-b44a-b4586bee6e58", "private": false, "spatial_coverage": "Australia", "state": "active", "temporal_coverage_from": "2016-10-13 05:31:05", "title": "2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species", "type": "dataset", "unpublished": false, "update_freq": "infrequently", "url": null, "version": null, "resources": [{"cache_last_updated": null, "cache_url": null, "ckan_url": "https://data.gov.au", "created": "2016-10-13T16:31:36.178357", "datastore_active": true, "datastore_contains_all_records_of_source_file": true, "description": "Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\\r\\n\\r\\nNote: The extinction of 3 species\\u2014Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus\\u2014cannot be readily and reliably dated, and these are not included in the data.", "format": "CSV", "hash": "d9d6c23d4b14989a714e437602634ba8", "id": "8339c2b4-c763-4c50-a647-63935537453c", "ignore_hash": false, "last_modified": "2016-10-13", "metadata_modified": "2023-08-09T05:00:12.311402", "mimetype": null, "mimetype_inner": null, "name": "BIO19 Cumulative historical extinctions of Australian mammal species", "original_url": "https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv", "package_id": "c02731e8-5327-4720-bbc7-1fe67350a569", "position": 0, "resource_id": "8339c2b4-c763-4c50-a647-63935537453c", "resource_type": null, "set_url_type": false, "size": null, "state": "active", "task_created": "2023-08-09 04:59:07.755538", "url": "https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv", "url_type": "upload", "wms_layer": "", "zip_extract": false}], "tags": [{"display_name": "2016", "id": "1cdd2af1-833e-411c-8003-485b677d2f4d", "name": "2016", "state": "active", "vocabulary_id": null}, {"display_name": "2016 SoE", "id": "662eb96b-dedd-482a-bbed-6fe51a4783cb", "name": "2016 SoE", "state": "active", "vocabulary_id": null}, {"display_name": "Action Plan for Australian mammals", "id": "ab2fae4a-f38a-46b9-bd3b-f62f2b21aea5", "name": "Action Plan for Australian mammals", "state": "active", "vocabulary_id": null}, {"display_name": "Biodiversity", "id": "655e233e-355c-4311-b3ac-a06db4a3c237", "name": "Biodiversity", "state": "active", "vocabulary_id": null}, {"display_name": "SoE", "id": "6752f3e8-9a7a-4ffe-b9e7-9fce46be330f", "name": "SoE", "state": "active", "vocabulary_id": null}, {"display_name": "SoE Graph", "id": "ff1d16f8-8dfa-4c65-8bfc-3c5d53e0c385", "name": "SoE Graph", "state": "active", "vocabulary_id": null}, {"display_name": "State of the Environment", "id": "bfdd0f69-272e-49a1-b3b9-cabb8f586348", "name": "State of the Environment", "state": "active", "vocabulary_id": null}, {"display_name": "extinct", "id": "eef7a30a-2cec-4932-baf4-6ccf8d981b4b", "name": "extinct", "state": "active", "vocabulary_id": null}, {"display_name": "mammals", "id": "74b1d415-25b1-49f2-9274-b9626838f1c4", "name": "mammals", "state": "active", "vocabulary_id": null}, {"display_name": "species", "id": "2634e534-e803-4ea8-934d-50f936cf9073", "name": "species", "state": "active", "vocabulary_id": null}], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}'

In [41]:
# Get the data as json from the response

mammal_json = response.json()

mammal_json

{'help': 'https://data.gov.au/data/api/3/action/help_show?name=package_show',
 'success': True,
 'result': {'author': 'CSIRO Publishing',
  'author_email': None,
  'contact_info': False,
  'contact_point': 'soe@environment.gov.au',
  'creator_user_id': 'dd537e79-7dfd-4a78-9110-8a42785bad1a',
  'data_state': 'active',
  'field_of_research': [],
  'geospatial_topic': [],
  'id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
  'isopen': True,
  'jurisdiction': 'Commonwealth of Australia',
  'language': 'English',
  'license_id': 'cc-by-4.0',
  'license_title': 'Creative Commons Attribution 4.0 International',
  'license_url': 'http://creativecommons.org/licenses/by/4.0',
  'maintainer': 'soe',
  'maintainer_email': None,
  'metadata_created': '2016-10-13T05:31:05.905629',
  'metadata_modified': '2023-08-09T05:00:12.302898',
  'name': '2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species',
  'notes': 'Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\r\n\r\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \r\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\r\n',
  'num_resources': 1,
  'num_tags': 10,
  'organization': {'id': 'c416b1b6-1ea1-47c3-b44a-b4586bee6e58',
   'name': 'state-of-the-environment',
   'title': 'State of the Environment',
   'type': 'organization',
   'description': '',
   'image_url': '2017-01-25-001455.510982SOE2016LogoColour.png',
   'created': '2016-01-21T17:05:45.618925',
   'is_organization': True,
   'approval_status': 'approved',
   'state': 'active'},
  'owner_org': 'c416b1b6-1ea1-47c3-b44a-b4586bee6e58',
  'private': False,
  'spatial_coverage': 'Australia',
  'state': 'active',
  'temporal_coverage_from': '2016-10-13 05:31:05',
  'title': '2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species',
  'type': 'dataset',
  'unpublished': False,
  'update_freq': 'infrequently',
  'url': None,
  'version': None,
  'resources': [{'cache_last_updated': None,
    'cache_url': None,
    'ckan_url': 'https://data.gov.au',
    'created': '2016-10-13T16:31:36.178357',
    'datastore_active': True,
    'datastore_contains_all_records_of_source_file': True,
    'description': 'Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\r\n\r\nNote: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.',
    'format': 'CSV',
    'hash': 'd9d6c23d4b14989a714e437602634ba8',
    'id': '8339c2b4-c763-4c50-a647-63935537453c',
    'ignore_hash': False,
    'last_modified': '2016-10-13',
    'metadata_modified': '2023-08-09T05:00:12.311402',
    'mimetype': None,
    'mimetype_inner': None,
    'name': 'BIO19 Cumulative historical extinctions of Australian mammal species',
    'original_url': 'https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
    'package_id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
    'position': 0,
    'resource_id': '8339c2b4-c763-4c50-a647-63935537453c',
    'resource_type': None,
    'set_url_type': False,
    'size': None,
    'state': 'active',
    'task_created': '2023-08-09 04:59:07.755538',
    'url': 'https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
    'url_type': 'upload',
    'wms_layer': '',
    'zip_extract': False}],
  'tags': [{'display_name': '2016',
    'id': '1cdd2af1-833e-411c-8003-485b677d2f4d',
    'name': '2016',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': '2016 SoE',
    'id': '662eb96b-dedd-482a-bbed-6fe51a4783cb',
    'name': '2016 SoE',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'Action Plan for Australian mammals',
    'id': 'ab2fae4a-f38a-46b9-bd3b-f62f2b21aea5',
    'name': 'Action Plan for Australian mammals',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'Biodiversity',
    'id': '655e233e-355c-4311-b3ac-a06db4a3c237',
    'name': 'Biodiversity',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'SoE',
    'id': '6752f3e8-9a7a-4ffe-b9e7-9fce46be330f',
    'name': 'SoE',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'SoE Graph',
    'id': 'ff1d16f8-8dfa-4c65-8bfc-3c5d53e0c385',
    'name': 'SoE Graph',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'State of the Environment',
    'id': 'bfdd0f69-272e-49a1-b3b9-cabb8f586348',
    'name': 'State of the Environment',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'extinct',
    'id': 'eef7a30a-2cec-4932-baf4-6ccf8d981b4b',
    'name': 'extinct',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'mammals',
    'id': '74b1d415-25b1-49f2-9274-b9626838f1c4',
    'name': 'mammals',
    'state': 'active',
    'vocabulary_id': None},
   {'display_name': 'species',
    'id': '2634e534-e803-4ea8-934d-50f936cf9073',
    'name': 'species',
    'state': 'active',
    'vocabulary_id': None}],
  'groups': [],
  'relationships_as_subject': [],
  'relationships_as_object': []}}

Since we know this is json data, we can use the structure to navigate the data and find what we are interested in.

In [42]:
# Take a look at the keys
mammal_json.keys()

dict_keys(['help', 'success', 'result'])

In [43]:
mammal_json['result']

{'author': 'CSIRO Publishing',
 'author_email': None,
 'contact_info': False,
 'contact_point': 'soe@environment.gov.au',
 'creator_user_id': 'dd537e79-7dfd-4a78-9110-8a42785bad1a',
 'data_state': 'active',
 'field_of_research': [],
 'geospatial_topic': [],
 'id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
 'isopen': True,
 'jurisdiction': 'Commonwealth of Australia',
 'language': 'English',
 'license_id': 'cc-by-4.0',
 'license_title': 'Creative Commons Attribution 4.0 International',
 'license_url': 'http://creativecommons.org/licenses/by/4.0',
 'maintainer': 'soe',
 'maintainer_email': None,
 'metadata_created': '2016-10-13T05:31:05.905629',
 'metadata_modified': '2023-08-09T05:00:12.302898',
 'name': '2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species',
 'notes': 'Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\r\n\r\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \r\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\r\n',
 'num_resources': 1,
 'num_tags': 10,
 'organization': {'id': 'c416b1b6-1ea1-47c3-b44a-b4586bee6e58',
  'name': 'state-of-the-environment',
  'title': 'State of the Environment',
  'type': 'organization',
  'description': '',
  'image_url': '2017-01-25-001455.510982SOE2016LogoColour.png',
  'created': '2016-01-21T17:05:45.618925',
  'is_organization': True,
  'approval_status': 'approved',
  'state': 'active'},
 'owner_org': 'c416b1b6-1ea1-47c3-b44a-b4586bee6e58',
 'private': False,
 'spatial_coverage': 'Australia',
 'state': 'active',
 'temporal_coverage_from': '2016-10-13 05:31:05',
 'title': '2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species',
 'type': 'dataset',
 'unpublished': False,
 'update_freq': 'infrequently',
 'url': None,
 'version': None,
 'resources': [{'cache_last_updated': None,
   'cache_url': None,
   'ckan_url': 'https://data.gov.au',
   'created': '2016-10-13T16:31:36.178357',
   'datastore_active': True,
   'datastore_contains_all_records_of_source_file': True,
   'description': 'Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\r\n\r\nNote: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.',
   'format': 'CSV',
   'hash': 'd9d6c23d4b14989a714e437602634ba8',
   'id': '8339c2b4-c763-4c50-a647-63935537453c',
   'ignore_hash': False,
   'last_modified': '2016-10-13',
   'metadata_modified': '2023-08-09T05:00:12.311402',
   'mimetype': None,
   'mimetype_inner': None,
   'name': 'BIO19 Cumulative historical extinctions of Australian mammal species',
   'original_url': 'https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
   'package_id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
   'position': 0,
   'resource_id': '8339c2b4-c763-4c50-a647-63935537453c',
   'resource_type': None,
   'set_url_type': False,
   'size': None,
   'state': 'active',
   'task_created': '2023-08-09 04:59:07.755538',
   'url': 'https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
   'url_type': 'upload',
   'wms_layer': '',
   'zip_extract': False}],
 'tags': [{'display_name': '2016',
   'id': '1cdd2af1-833e-411c-8003-485b677d2f4d',
   'name': '2016',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': '2016 SoE',
   'id': '662eb96b-dedd-482a-bbed-6fe51a4783cb',
   'name': '2016 SoE',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'Action Plan for Australian mammals',
   'id': 'ab2fae4a-f38a-46b9-bd3b-f62f2b21aea5',
   'name': 'Action Plan for Australian mammals',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'Biodiversity',
   'id': '655e233e-355c-4311-b3ac-a06db4a3c237',
   'name': 'Biodiversity',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'SoE',
   'id': '6752f3e8-9a7a-4ffe-b9e7-9fce46be330f',
   'name': 'SoE',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'SoE Graph',
   'id': 'ff1d16f8-8dfa-4c65-8bfc-3c5d53e0c385',
   'name': 'SoE Graph',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'State of the Environment',
   'id': 'bfdd0f69-272e-49a1-b3b9-cabb8f586348',
   'name': 'State of the Environment',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'extinct',
   'id': 'eef7a30a-2cec-4932-baf4-6ccf8d981b4b',
   'name': 'extinct',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'mammals',
   'id': '74b1d415-25b1-49f2-9274-b9626838f1c4',
   'name': 'mammals',
   'state': 'active',
   'vocabulary_id': None},
  {'display_name': 'species',
   'id': '2634e534-e803-4ea8-934d-50f936cf9073',
   'name': 'species',
   'state': 'active',
   'vocabulary_id': None}],
 'groups': [],
 'relationships_as_subject': [],
 'relationships_as_object': []}

In [44]:
# What about the keys down a level?
mammal_json['result'].keys()

dict_keys(['author', 'author_email', 'contact_info', 'contact_point', 'creator_user_id', 'data_state', 'field_of_research', 'geospatial_topic', 'id', 'isopen', 'jurisdiction', 'language', 'license_id', 'license_title', 'license_url', 'maintainer', 'maintainer_email', 'metadata_created', 'metadata_modified', 'name', 'notes', 'num_resources', 'num_tags', 'organization', 'owner_org', 'private', 'spatial_coverage', 'state', 'temporal_coverage_from', 'title', 'type', 'unpublished', 'update_freq', 'url', 'version', 'resources', 'tags', 'groups', 'relationships_as_subject', 'relationships_as_object'])

In [45]:
# Digging deeper
mammal_json['result']['resources']

[{'cache_last_updated': None,
  'cache_url': None,
  'ckan_url': 'https://data.gov.au',
  'created': '2016-10-13T16:31:36.178357',
  'datastore_active': True,
  'datastore_contains_all_records_of_source_file': True,
  'description': 'Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\r\n\r\nNote: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.',
  'format': 'CSV',
  'hash': 'd9d6c23d4b14989a714e437602634ba8',
  'id': '8339c2b4-c763-4c50-a647-63935537453c',
  'ignore_hash': False,
  'last_modified': '2016-10-13',
  'metadata_modified': '2023-08-09T05:00:12.311402',
  'mimetype': None,
  'mimetype_inner': None,
  'name': 'BIO19 Cumulative historical extinctions of Australian mammal species',
  'original_url': 'https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
  'package_id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
  'position': 0,
  'resource_id': '8339c2b4-c763-4c50-a647-63935537453c',
  'resource_type': None,
  'set_url_type': False,
  'size': None,
  'state': 'active',
  'task_created': '2023-08-09 04:59:07.755538',
  'url': 'https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
  'url_type': 'upload',
  'wms_layer': '',
  'zip_extract': False}]

This is a list of dicts - let's get the first dict in the list (item 0) and explore further

In [52]:
# Only one item in the list - get it by accessing the first item 0
mammal_json['result']['resources'][0]['description'].split('\r\n')

['Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.',
 '',
 'Note: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.']

We can save this dictionary formated data as *JSON* by using the `dumps()` function of the `json` library.

In [53]:
# Dump the dict into a json string
metadata = json.dumps(mammal_json)
metadata

'{"help": "https://data.gov.au/data/api/3/action/help_show?name=package_show", "success": true, "result": {"author": "CSIRO Publishing", "author_email": null, "contact_info": false, "contact_point": "soe@environment.gov.au", "creator_user_id": "dd537e79-7dfd-4a78-9110-8a42785bad1a", "data_state": "active", "field_of_research": [], "geospatial_topic": [], "id": "c02731e8-5327-4720-bbc7-1fe67350a569", "isopen": true, "jurisdiction": "Commonwealth of Australia", "language": "English", "license_id": "cc-by-4.0", "license_title": "Creative Commons Attribution 4.0 International", "license_url": "http://creativecommons.org/licenses/by/4.0", "maintainer": "soe", "maintainer_email": null, "metadata_created": "2016-10-13T05:31:05.905629", "metadata_modified": "2023-08-09T05:00:12.302898", "name": "2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species", "notes": "Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\\r\\n\\r\\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \\r\\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\\r\\n", "num_resources": 1, "num_tags": 10, "organization": {"id": "c416b1b6-1ea1-47c3-b44a-b4586bee6e58", "name": "state-of-the-environment", "title": "State of the Environment", "type": "organization", "description": "", "image_url": "2017-01-25-001455.510982SOE2016LogoColour.png", "created": "2016-01-21T17:05:45.618925", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "c416b1b6-1ea1-47c3-b44a-b4586bee6e58", "private": false, "spatial_coverage": "Australia", "state": "active", "temporal_coverage_from": "2016-10-13 05:31:05", "title": "2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species", "type": "dataset", "unpublished": false, "update_freq": "infrequently", "url": null, "version": null, "resources": [{"cache_last_updated": null, "cache_url": null, "ckan_url": "https://data.gov.au", "created": "2016-10-13T16:31:36.178357", "datastore_active": true, "datastore_contains_all_records_of_source_file": true, "description": "Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\\r\\n\\r\\nNote: The extinction of 3 species\\u2014Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus\\u2014cannot be readily and reliably dated, and these are not included in the data.", "format": "CSV", "hash": "d9d6c23d4b14989a714e437602634ba8", "id": "8339c2b4-c763-4c50-a647-63935537453c", "ignore_hash": false, "last_modified": "2016-10-13", "metadata_modified": "2023-08-09T05:00:12.311402", "mimetype": null, "mimetype_inner": null, "name": "BIO19 Cumulative historical extinctions of Australian mammal species", "original_url": "https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv", "package_id": "c02731e8-5327-4720-bbc7-1fe67350a569", "position": 0, "resource_id": "8339c2b4-c763-4c50-a647-63935537453c", "resource_type": null, "set_url_type": false, "size": null, "state": "active", "task_created": "2023-08-09 04:59:07.755538", "url": "https://data.gov.au/data/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv", "url_type": "upload", "wms_layer": "", "zip_extract": false}], "tags": [{"display_name": "2016", "id": "1cdd2af1-833e-411c-8003-485b677d2f4d", "name": "2016", "state": "active", "vocabulary_id": null}, {"display_name": "2016 SoE", "id": "662eb96b-dedd-482a-bbed-6fe51a4783cb", "name": "2016 SoE", "state": "active", "vocabulary_id": null}, {"display_name": "Action Plan for Australian mammals", "id": "ab2fae4a-f38a-46b9-bd3b-f62f2b21aea5", "name": "Action Plan for Australian mammals", "state": "active", "vocabulary_id": null}, {"display_name": "Biodiversity", "id": "655e233e-355c-4311-b3ac-a06db4a3c237", "name": "Biodiversity", "state": "active", "vocabulary_id": null}, {"display_name": "SoE", "id": "6752f3e8-9a7a-4ffe-b9e7-9fce46be330f", "name": "SoE", "state": "active", "vocabulary_id": null}, {"display_name": "SoE Graph", "id": "ff1d16f8-8dfa-4c65-8bfc-3c5d53e0c385", "name": "SoE Graph", "state": "active", "vocabulary_id": null}, {"display_name": "State of the Environment", "id": "bfdd0f69-272e-49a1-b3b9-cabb8f586348", "name": "State of the Environment", "state": "active", "vocabulary_id": null}, {"display_name": "extinct", "id": "eef7a30a-2cec-4932-baf4-6ccf8d981b4b", "name": "extinct", "state": "active", "vocabulary_id": null}, {"display_name": "mammals", "id": "74b1d415-25b1-49f2-9274-b9626838f1c4", "name": "mammals", "state": "active", "vocabulary_id": null}, {"display_name": "species", "id": "2634e534-e803-4ea8-934d-50f936cf9073", "name": "species", "state": "active", "vocabulary_id": null}], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}'

In [55]:
# Write the json string to a file
file_name = "extinct_mammals_metadata.json"
with open(f"{path}/{file_name}",'w') as fp:
    fp.write(metadata)

Open the file that you just created to check that it has been written correctly.

In [ ]:
# read the file back in
with open(f"{path}/{file_name}",'r') as fp:
    text = fp.read()
    file_json = json.loads(text)

file_json

Explore the JSON structure starting with the keys

In [57]:
# What keys are available in the first item in the list of resources?
mammal_json['result']['resources'][0].keys()

dict_keys(['cache_last_updated', 'cache_url', 'ckan_url', 'created', 'datastore_active', 'datastore_contains_all_records_of_source_file', 'description', 'format', 'hash', 'id', 'ignore_hash', 'last_modified', 'metadata_modified', 'mimetype', 'mimetype_inner', 'name', 'original_url', 'package_id', 'position', 'resource_id', 'resource_type', 'set_url_type', 'size', 'state', 'task_created', 'url', 'url_type', 'wms_layer', 'zip_extract'])

In [58]:
# Take a look at the description
mammal_json['result']['resources'][0]['description']

'Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\r\n\r\nNote: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.'

In [59]:
# Format the description as a list
mammal_json['result']['resources'][0]['description'].split('\r\n')

['Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.',
 '',
 'Note: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.']

In [60]:
# Get the first item in the list
mammal_json['result']['resources'][0]['description'].split('\r\n')[0]

'Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.'

In [61]:
# since the result is a dictionary, we can the value for one particular key
mammal_json["result"]["notes"]

'Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\r\n\r\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \r\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\r\n'

In [62]:
# we can take this data and structure it further

notes = mammal_json["result"]["notes"]
struct_notes = notes.split('\r\n')
for note in struct_notes:
    print(note)

Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.

This data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at
https://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19

### Explore further

Try experimenting with exploring the dict format to find interesting parts of the data. 

You might also like to try saving the extracted data as a file, and creating a new dataframe with the structured data.

In [ ]:
???